body{
    padding: 50px 100px;
}
h1{
    text-align: center;
    background-color: yellow;
}
#container{
    text-align: center;
    background-color: orange;
    padding: 50px;
}
.input-box{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size:30px;
    font-weight: bold;
    width: 300px;
    text-align: center;
}
label{
    font-size: 40px;
}